<div id="<%= dom_id picture %>">

  <% if picture.user_picture.attached? %>
    <%= image_tag picture.user_picture, style: "width: 200px; display: block" %>
    <% end %>
  <p>
    <strong>Title:</strong>
    <%= picture.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= picture.description %>
  </p>

<!--   <p>
    <strong>User:</strong>
    <%= picture.user_id %>
  </p> -->

</div>
