<div id="<%= dom_id picture %>">

  <% if picture.image.attached? %>
    <%= image_tag picture.image, style: "width: 200px; display: block" %>
    <% end %>
  <p>
    <%= picture.title %>
  </p>

  <p>
    <small>By <%= picture.user.name %></small>
  </p>

<!--   <p>
    <strong>User:</strong>
    <%= picture.user_id %>
  </p> -->

</div>
