<div id="pictures" class="d-inline-flex ">
  <% @pictures.each do |picture| %>

  <div><%= link_to picture, class: "picture" do %>
    <%= image_tag picture.image.variant(resize_to_fit: [250, 250]), class: "img-thumbnail " %>
    <% end %>

    <div class="d-flex justify-content-around">
      <%= link_to picture do %>
      <span class="icon"><i class="fa fa-eye"></i></span>
      <span class="thumbnail-count"><%= picture.impressionist_count %></span>
      <% end %>
      <%= link_to picture do %>
      <span class="icon"><i class="fa fa-comment"></i></span>
      <span class="thumbnail-count"><%= picture.comments.count %></span>
      <% end %>
      <%= link_to picture do %>
      <span class="icon"><i class="fa-solid fa-heart"></i></span>
      <span class="thumbnail-count">0</span>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
