<section class="content-item">
        <div class="container">
          <div class="row">
              <div class="col col-sm-8">
                <%= image_tag @picture.image.variant(resize_to_limit: [818, nil]), class: "img-fluid" %>
                    <div class="box d-flex gap-2">
                      <small><%= link_to "Edit this picture", edit_picture_path(@picture), class: "btn btn-light shadow-sm" %></small>

                      <small><%= button_to "Destroy this picture", @picture, method: :delete, class: "btn btn-light shadow-sm" %></small>
                    </div>
                </div>
                <div class="col col-sm-4">
                  <div class="content-title mb-2">
                    <h1> <%= @picture.title %></h1>
                    <h2 class="d-flex">
                    <div class="me-2"><%= gravatar_image_tag(@picture.user.email, class: "avatar-small", alt: @picture.user.name) %>
                    </div>
                    <div class="mt-2">
                      <small><%= @picture.user.name %></small>
                      <br>
                      <small>posted <%= time_ago_in_words(@picture.created_at)%> ago</small>
                    </div>

                    </h2>
                  </div>
                    <div class="box">
                      <%= @picture.description%>
                    </div>
                    <div class="box">
            <ul class="list-unstyled">
                          <li><i class="fa fa-heart"></i>0 Likes</li>
                            <li><i class="fa fa-eye"></i>0 Views</li>
                            <li><i class="fa fa-comment"></i>0 Comments</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
