<div class="d-flex justify-content-center align-items-center">
  <%= image_tag @picture.image.variant(resize_to_limit: [900, 900]), class: "mt-4" %>

  <div>
    <h3>
      <%= @picture.title %> <small>by <%= @picture.user.name %></small>
    </h3>
    <p><%= @picture.description%> </p>
  <div>
    <%= link_to "Edit this picture", edit_picture_path(@picture) %> |
    <%= link_to "Back to pictures", pictures_path %>

    <%= button_to "Destroy this picture", @picture, method: :delete %>
  </div>
  </div>
</div>
