<div>

    <%= image_tag @picture.image.variant(
    saver: { quality: 30 }
    ) %>
  <p>
    <%= @picture.title %>
  </p>

  <p>
    <small>By <%= @picture.user.name %></small>
  </p>


</div>


<div>
  <%= link_to "Edit this picture", edit_picture_path(@picture) %> |
  <%= link_to "Back to pictures", pictures_path %>

  <%= button_to "Destroy this picture", @picture, method: :delete %>
</div>
